# Build
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio
.vs/

# Rider / JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# App settings sensibles
appsettings.Development.json
appsettings.Local.json

# Secrets
secrets.json

# Docker
docker-compose.override.yml

# EF Migrations (opcional si querés ignorarlas)
# Migrations/

# Publish
publish/